<h1>Please Log In</h1>
<form action="/post-example" method="POST">
	<label for="">Username</label>
	<input type="text" name="username">
	<label for="">Password</label>
	<input type="password" name="password">
	<button type="submit">Log In</button>
</form>